
mat-card{
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
}

.pokemon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.pokemon-form{
    text-align: center;
}

.pokemon-card{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokedex-info, .pokemon-card{
    width: 400px;
}

mat-form-field, mat-label, p{
    font-family: PokemonGB;
}