<head>
    <link rel="preconnect" href="https://raw.githubusercontent.com">
</head>

<div class="pokemon-container">
    <div class="pokemon-form">
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Pokemon</mat-label>
                <input matInput [(ngModel)]="pokemonName" placeholder="Pokemon" (keyup.enter)="onEnter()">
            </mat-form-field>
        </div>
        
        <div>
            <mat-card *ngIf="pokemonImage != ''">
                <mat-card-content>
                    <img ngSrc="{{pokemonImage}}" width="200" height="200" priority>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>