
mat-card{
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
}

.pokemon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.pokemon-form{
    text-align: center;
}