<head>
    <link rel="preconnect" href="https://raw.githubusercontent.com">
</head>
<body>
    <div class="pokemon-container">
        <div class="pokemon-form">
            <div>
                <!--
                <mat-form-field appearance="outline">
                    <mat-label>Pokémon</mat-label>
                    <input matInput [(ngModel)]="pokemonName" placeholder="Name" (keyup.enter)="onEnter()" autocomplete="off">
                </mat-form-field>
                -->
                <p>{{pokemonName}}</p>
                <p>NO. {{pokedexIndex + 1}}</p>
            </div>
            
            <div class="pokemon-card">
                <div class="arrow-button">
                    <button mat-icon-button (click)="navigatePokemonLeft()" *ngIf="pokedexIndex > 0">
                        <mat-icon>keyboard_arrow_left</mat-icon>
                    </button>
                </div>

                <mat-card>
                    <mat-card-content>
                        <img *ngIf="pokemonImage != ''" ngSrc="{{pokemonImage}}" width="200" height="200" priority>
                    </mat-card-content>
                </mat-card>

                <div class="arrow-button">
                    <button mat-icon-button (click)="navigatePokemonRight()" *ngIf="pokedexIndex < gen1Pokemon.length-1">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                    </button>
                </div>
            </div>

            <div class="pokedex-info">
                <p *ngIf="animatedPokedexDesc != ''">{{animatedPokedexDesc}}</p>
            </div>
        </div>
    </div>
</body>