body{
    background-color: rgb(192, 255, 235);
    //background-image: url('../../../assets/PokemonAreaBG2.jpg');
    //background-size: cover;
    //background-repeat: no-repeat;
}

.button-header{
    width: 100%;
}

.back-button{
    display: flex;
    justify-content: right;
    padding-top: 20px;
    padding-right: 20px;
}

.pokemon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.pokemon-spot{
    display: flex;
    justify-content: center;
    background-image: url('../../../assets/Grass2.png');
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 500px;
    height: 250px;
}

.buttons{
    padding-top: 50px;
    padding-bottom: 200px;
    display: flex;
    justify-content: center;
    height: 50px;
}

.pokemon-sprite{
    animation: fadeIn 3s;
}

.pokeball-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.catch-text{
    display: flex;
    justify-content: center;
    height: 50px;
}

.pokeball-container{
    width: 500px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokeball{
    background-image: url('../../../assets/Pokeball.png');
    background-size: cover;
    background-repeat: none;
    width: 100px;
    height: 100px;
}

@keyframes fadeIn{
    0% { opacity: 0; }
    100% { opacity: 1; }
}

button{
    font-family:'Segoe UI';
}

p{
    font-family:'Segoe UI';
    font-weight: bold;
}