<head>
    <link rel="preconnect" href="https://raw.githubusercontent.com">
</head>
<body>

    <div class="pokemon-container">
        <div class="pokemon-form">
            <div class="pokemon-spot">

                <div class="pokemon-image">
                    <img class="pokemon-sprite" *ngIf="pokemonImage != ''" ngSrc="{{pokemonImage}}" width="250" height="250" priority>
                </div>
                
            </div>

            <div class="buttons">
                <button *ngIf="!isCatching" mat-button (click)="catchTrigger()">Catch!</button>
            </div>

            <div class="pokeball-container">
                <div *ngIf="isCatching" class="pokeball" [@throwPokeball]="currentAnimState" (@throwPokeball.done)="pokeballAnimationFinished($event)"></div>
            </div>
        </div>
    </div>
</body>
