body{
    background-color: rgb(149, 212, 248);
    // background-image: url('../../../assets/PokedexBG.png');
    // background-size: cover;
    // background-repeat: no-repeat;
}

.button-header{
    width: 100%;
}

.back-button{
    display: flex;
    justify-content: left;
    padding-top: 20px;
    padding-left: 20px;
}

.pokemon-sprite{
    padding-top: 30px;
}

.pokemon-box{
    height: 200px;
    width: 250px;
    background-image: url('../../../assets/PokedexBoxBG.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.pokemon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.pokemon-form{
    text-align: center;
}

.pokemon-card{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokedex-info{
    height: 200px;
    display: flex;
    justify-content: center;
}

.arrow-button{
    width: 50px;
    height: 50px;
}

.pokemon-box-list{
    background-image: url('../../../assets/PokemonPC_BG1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 300px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.pokemon-box-row{
    display: flex;
    text-align: center;
    align-items: center;
}

.pokedex-info, .pokemon-card, .pokemon-box-row{
    width: 500px;
}

.pokemon-missing{
    padding-top: 70px;
}

mat-form-field, mat-label, p, h1{
    font-family: PokemonGB;
}