<body>
    <div class="menu">
        <div class="menu-column">
            <div class="logo">
                <img class="pokemon-image" ngSrc="../../../assets/PokemonLogo.png" width="600" height="220" priority>
            </div>

            <div class="buttons">
                <div class="menu-button">
                    <button mat-raised-button color="primary" (click)="openCatchPokemon()">Catch Pokemon</button>
                </div>
                <div class="menu-button">
                    <button mat-raised-button color="accent" (click)="openPokedex()">Pokedex</button>
                </div>
            </div>
        </div>
    </div>
</body>