body{
    background-image: url('../../../assets/MainMenuBG.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.pokemon-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}